<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>worker2</name>
  <description></description>
  <remoteFS>/home/jenkins/</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.973.v0fa_8c0dea_f9f">
    <host>jenkins-worker2-task</host>
    <port>22</port>
    <credentialsId>bf611ad5-b138-450a-a84e-66338b3f007f</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>workers</label>
  <nodeProperties/>
</slave>